.goods {
  width: 100%;
  padding: 66px 0 140px;
  background-color: $color-black-pearl;

  @include vp-1023 {
    padding-top: 57px;
    padding-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 47px;
    padding-bottom: 86px;
  }
}

.goods__title {
  margin-top: 0;
  margin-bottom: 54px;
  font-family: $ff-roboto-condensed;
  font-size: 36px;
  font-weight: 400;
  line-height: 51px;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    font-size: 28px;
    line-height: 39px;
  }
}

.goods__title-text {
  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &--desktop {
    @include vp-767 {
      display: none;
    }
  }
}

.goods__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 85px;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @include vp-1279 {
    gap: 30px;
  }

  @include vp-1023 {
    grid-template-columns: 100%;
  }
}

.goods__item {
  min-height: 650px;

  @include vp-1023 {
    min-height: 250px;
  }

  &--production {
    background: $color-venice-blue url("../img/goods/production-desktop.jpg") no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-venice-blue url("../img/goods/production-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-1024) {
      background: $color-midnight-express url("../img/goods/production-tablet.jpg") no-repeat;
    }

    @media (max-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-midnight-express url("../img/goods/production-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-768) {
      background: $color-midnight-express url("../img/goods/production-mobile.jpg") no-repeat;
    }

    @media (max-width: $vp-768) and (min-resolution: $retina-dppx) {
      background: $color-midnight-express url("../img/goods/production-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  &--mounting {
    background: $color-matisse url("../img/goods/mounting-desktop.jpg") no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-matisse url("../img/goods/mounting-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-1024) {
      background: $color-st-tropaz url("../img/goods/mounting-tablet.jpg") no-repeat;
    }

    @media (max-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-st-tropaz url("../img/goods/mounting-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-768) {
      background: $color-st-tropaz url("../img/goods/mounting-mobile.jpg") no-repeat;
    }

    @media (max-width: $vp-768) and (min-resolution: $retina-dppx) {
      background: $color-st-tropaz url("../img/goods/mounting-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }

  &--accessories {
    background: $color-cyan-blue url("../img/goods/accessories-desktop.jpg") no-repeat;
    background-size: cover;

    @media (min-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-black-pearl url("../img/goods/accessories-desktop@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-1024) {
      background: $color-dark-cerulean url("../img/goods/accessories-tablet.jpg") no-repeat;
    }

    @media (max-width: $vp-1024) and (min-resolution: $retina-dppx) {
      background: $color-dark-cerulean url("../img/goods/accessories-tablet@2x.jpg") no-repeat;
      background-size: cover;
    }

    @media (max-width: $vp-768) {
      background: $color-port-gore url("../img/goods/accessories-mobile.jpg") no-repeat;
    }

    @media (max-width: $vp-768) and (min-resolution: $retina-dppx) {
      background: $color-port-gore url("../img/goods/accessories-mobile@2x.jpg") no-repeat;
      background-size: cover;
    }
  }
}

.goods__link {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  padding: 48px 140px 0 40px;
  background: $color-black-pearl-translucent;
  transition: background-color $trans-default;
  user-select: none;

  @include hover-focus {
    background-color: $color-black-pearl-transparent;
  }

  @include vp-1023 {
    padding-top: 37px;
    padding-left: 45px;
  }

  @include vp-767 {
    padding: 26px 30px;
  }

  &::before {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: $color-deep-sky-blue;
    border-top-left-radius: 3px;
    transition: background-color $trans-default;

    @include vp-767 {
      width: 40px;
      height: 40px;
    }
  }

  &::after {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    padding: 3px;
    content: "";
    right: 27px;
    bottom: 27px;
    border: solid $color-default-white;
    border-width: 0 1px 1px 0;
    transform: rotate(-45deg);
    transition: border-color $trans-default;

    @include vp-767 {
      padding: 2px;
      right: 17px;
      bottom: 17px;
    }
  }
}

.goods__link h3 {
  margin: 0;
  font-family: $ff-roboto-condensed;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  @include vp-1023 {
    width: 31%;
  }

  @include vp-767 {
    width: 64%;
    font-size: 18px;
  }
}

.goods__link:hover {
  &::before {
    background-color: $color-alice-blue-light;
  }

  &::after {
    border-color: $color-deep-sky-blue;
  }
}
