// Colors

$color-midnight-express:            #081d3f;
$color-dark-cerulean:               #0a4a83;
$color-st-tropaz:                   #285180;
$color-cyan-blue:                   #28435e;
$color-venice-blue:                 #2e4a6d;
$color-port-gore:                   #3d486b;
$color-matisse:                     #385d84;
$color-endeavour:                   #205089;
$color-dodger-blue:                 #109efe;

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

$color-deep-sky-blue:               #00b2ff;
$color-black-pearl:                 #041827;
$color-alice-blue:                  #f2f5f6;
$color-alice-blue-light:            #f8fdff;
$color-gray:                        #ebebeb;
$color-black-pearl-transparent:     rgba(4, 20, 39, 0.15);
$color-black-pearl-translucent:     rgba(4, 24, 39, 0.5);
$color-white-transparent:           rgba(255, 255, 255, 0.7);

// Gradient

$black-to-bottom:                   linear-gradient(180deg, rgb(4, 24, 39) 84.9%, rgba(4, 24, 39, 0) 100%);
$banner-to-bottom:                  linear-gradient(180deg, rgba(25, 32, 36, 0.7) 71.72%, rgba(25, 32, 36, 0) 100%);
$navy-to-blue:                      linear-gradient(-41deg, rgb(0, 179, 255) 66.5%, rgb(2, 101, 147) 1%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-roboto-condensed:      "Roboto Condensed", "Arial", sans-serif;
$ff-pt-mono:               "PT Mono", "Arial", sans-serif;
$ff-placeholder:           "PT Mono", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;
$trans-1000:                         1s $tf-default;

// Viewports
// ---------------------------------

$vp-320:                            320px;
$vp-375:                            375px;
$vp-768:                            768px;
$vp-1024:                           1024px;
$vp-1280:                           1280px;
$vp-1440:                           1440px;
$vp-1920:                           1920px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
